<header>
    <div class="content">

      <div class="menu_bar">
        <a href="#" class="bt-menu"><!-- <span class="icon-list"></span> --> Menu</a> 
      </div>

      <div class="logo">
        <img src="../img/general/Logo VQT Blanco y Naranja.png" alt="">
        <img src="img/general/Logo VQT Blanco y Naranja.png" alt="">
      </div>
        
      <nav>
        <div id="menu">
          <a href="../index.html">Inicio</a>
          <div class="dropdown">
              <a href="#">Nuestras voces</a>
              <div class="dropdown-content">
                <a href="../Secciones/delatierra.html">Voces de la Tierra</a>
                <a href="../Secciones/quenoseapagan.html">Voces que no se apagan</a>
                <!-- <a href="#">Voces ausentes y presentes</a> -->
                <a href="../Secciones/enmovimiento.html">Voces en movimiento</a>
                <a href="../Secciones/artisticas.html">Voces artísticas</a>
                <!-- <a href="#">Voces cultas</a> -->
              </div>
          </div>
          <a href="#especiales">Especiales</a>
          <a href="../Partials/nosotros.html">Nosotros</a>
          <!-- <a href="#apoyanos">Apoyanos</a> -->
        </div>  
      </nav>
      
    </div>
</header>